html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(images/backgroundstart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
	font-family: 'BigJohn';
	src: url('fonts/BigJohn.eot');
	src:
		url('fonts/BigJohn.otf')
		format('opentype');
}

navbartext, h1, h2, h3, h4, a {
    font-family: BigJohn;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

navbartext {
    font-size: 50px;
    margin: 0 0 0 30px;
}

h1 {
    font-size:150px;
    margin: 0;
}

h2  {
    font-family: Arial, Helvetica, sans-serif;
    font-size:75px;
    margin: 0;
}

h3 {
    color: #555;
    font-size: 30px;
}

h4 {
    color: #333;
    font-size: 24px;
}

.navbar {
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar2 {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 2% 0;
}

.navbar img, .hoverscale {
    position: relative;
    transition: 0.2s ease;
}

.navbar2 div {
    margin: 0 25px;
}

.navbar img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.navbar img:hover {
    transform: scale(1.1, 1.1)
}

.hoverscale:hover {
    transform: scale(1.05, 1.05)
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 33%;
    display: flex;
    flex-direction: column;
    max-width: 33%;
    padding: 0 4px;
    justify-content: space-between;
}

.column img {
    width: 100%;
    padding: 4px 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding: 60px 1% 1% 1%;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #ccc;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5%;
}

.footer img {
    height: 100px;
    width: 100px;
}
